{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="annonces-container">
    <h2 class="categorie-titre">Annonces dans la catégorie : {{ categorie.nom }}</h2>

    <!-- Sous-catégories -->
    <div class="sous-categories-container">
        {% for sc in sous_categories %}
            <a href="{% url 'annonces_par_souscategorie' sc.id %}" class="sous-categorie-btn">
                {{ sc.nom }}
            </a>
        {% endfor %}
    </div>

<section class="annonces-images">
  <h3>Annonces dans la catégorie {{ categorie.nom }}</h3>

  <div class="images-container">
    {% for annonce in annonces %}
      <a href="{% url 'annonces_par_categorie' annonce.sous_categorie.categorie.id %}" class="image-card">
        <img src="{{ annonce.image.url }}" alt="{{ annonce.titre }}">
        <div class="image-title">{{ annonce.titre }}</div>
      </a>
    {% empty %}
      <p>Aucune annonce disponible pour cette catégorie.</p>
    {% endfor %}
  </div>
</section>


{% endblock %}
