{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="form-card">
        <h2>Publier une annonce</h2>
        <p class="subtitle">Remplis les informations de ton annonce</p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <p class="error-text">{{ field.errors|striptags }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn">Publier maintenant</button>
        </form>

        <p class="footer-text">
            <a href="{% url 'home' %}">Retour à l’accueil</a>
        </p>
    </div>
</div>

{% endblock %}
