{% extends 'base.html'%}
{% block content %}
{% load static %}

<div class="categories-container">
    {% for categorie in categories %}
        <a href="{% url 'annonces_par_categorie' categorie.id %}" class="categorie-card">
            {{ categorie.nom }}
        </a>
    {% endfor %}
</div>

<section class="deposer-annonce">
  <div class="container">
    <h4>C'est le moment de vendre !</h4>
    <a href="{% url 'creer_annonce' %}" class="btn-deposer">
          <i class="fa fa-plus-circle"></i> Déposer une annonce
    </a>

  </div>
</section>


<!-- Section des catégories en avant -->
<section class="highlighted-section">
  <div class="container">
    <h2>Nos catégories populaires</h2>
    <div class="highlighted-container no-scrollbar">

      <a href="#" class="highlighted-card">
        <img src="{% static 'images/no-electro.jpg' %}" alt="Électronique">
        <div class="highlighted-overlay">
          <h3>Électronique</h3>
        </div>
      </a>

      <a href="#" class="highlighted-card">
        <img src="{% static 'images/no-house.jpg' %}" alt="Immobilier">
        <div class="highlighted-overlay">
          <h3>Immobilier</h3>
        </div>
      </a>

      <a href="#" class="highlighted-card">
        <img src="{% static 'images/no-image.jpg' %}" alt="Mode & Accessoires">
        <div class="highlighted-overlay">
          <h3>Mode & Accessoires</h3>
        </div>
      </a>

      <a href="#" class="highlighted-card">
        <img src="{% static 'images/no-car.jpg' %}" alt="Véhicules">
        <div class="highlighted-overlay">
          <h3>Véhicules</h3>
        </div>
      </a>

    </div>
  </div>
</section>



<section class="info-section">
  <div class="container">
    <h2>Pourquoi choisir notre plateforme ?</h2>
    <div class="info-cards">
      <div class="card"> <!-- carte 1 -->
        <h3>Simple à utiliser</h3>
        <p>Publiez votre annonce en quelques clics, sans inscription compliquée.</p>
      </div>
      <div class="card"> <!-- carte 2 -->
        <h3>Gratuit et rapide</h3>
        <p>Déposez vos annonces gratuitement et touchez vos clients en un rien de temps.</p>
      </div>
      <div class="card"> <!-- carte 3 -->
        <h3>Fiable et sécurisé</h3>
        <p>Notre plateforme vérifie chaque annonce pour garantir la qualité et la sécurité.</p>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/home.js'%}"></script>

{% endblock %}